.body {
    display: flex;
    height: 80px;
    
}

.logo {
    padding-top: 13px;
    padding-left: 15px;
    box-shadow: -6px 0 white, 6px 0 white, 0 7px 5px -2px black;
}

.user-name {
    flex-direction: row-reverse;
    width: 80%;
    text-align: right;
    align-self: center;
    margin-right: 30px;
}

.center {
    flex-direction: row-reverse;
}

.button {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}