<mat-card>
    <mat-card-content>
        <form [formGroup]="form">
            <p>
                <app-ui-text-input
                label="login"
                [control]="form.login"
                [required]="true"
                ></app-ui-text-input>
            </p>
            <p>
                <app-ui-text-input
                label="password"
                [control]="form.password"
                [required]="true"
                ></app-ui-text-input>
            </p>
            <app-ui-button 
            text="login"
            (click)="login()"
            ></app-ui-button>
            <a href="google.com">
                <app-ui-button text="cancel"></app-ui-button>
            </a>
        </form>
    </mat-card-content>
</mat-card>

{{ token.type }}
{{ token.token }}