.main-container {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-card {
    width: 900px;
    padding: 40px;
}

.row-container {
    display: flex;
    flex-direction: column;
}

.buttons-container {
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

app-ui-text-input {
    flex: 1;
}
