<ng-container [ngSwitch]="columnName">
    <ng-container *ngSwitchCase="'diastolic pressure'">
        {{ element.diastolicPressure }}
    </ng-container>
    <ng-container *ngSwitchCase="'systolic pressure'">
        {{ element.systolicPressure }}
    </ng-container>
    <ng-container *ngSwitchCase="'measurement at'">
        {{ element.measurementAt | date }}
    </ng-container>
    <ng-container *ngSwitchCase="'medical dosage'">
        {{ element.medicalDosage }}
    </ng-container>
    <ng-container *ngSwitchCase="'type'">
        <div *ngIf="element.financeType === 0" class="costs">Expenses</div>
        <div *ngIf="element.financeType === 1" class="income">Revenues</div>
    </ng-container>
    <ng-container *ngSwitchCase="'financial category'">
        <div *ngIf="element.amount > 0" class="income">{{ element.financialCategory.name }}</div>
        <div *ngIf="element.amount <= 0" class="costs">{{ element.financialCategory.name }}</div>
    </ng-container>
    <ng-container *ngSwitchCase="'created'">
        {{ element.created | date }}
    </ng-container>
    <ng-container *ngSwitchDefault>
        {{ element[columnName] }}
    </ng-container>
</ng-container>
