<mat-form-field fxFlex *ngIf="control" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <mat-select
    [formControl]="control"
    [multiple]="isMultiple"
    (selectionChange)="onChange($event)"
    [value]="selected"
    [disabled]="disabled"
    [required]="isRequired"
  >
    <mat-option *ngFor="let option of options" [value]="option.id">
      {{ option.name }}
      {{ option.lastName | uppercase }} {{ option.firstName | uppercase }}
    </mat-option>
  </mat-select>
</mat-form-field>