/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

mat-card {
    width: 900px;
    padding: 60px;
}

mat-card-title {
    text-align: center;
    padding-bottom: 50px;
}

mat-form-field {
    width: 100%;
}

app-ui-slide-toggle {
    padding-bottom: 20px;
}